.para{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body{
    background-color: wheat;
}

h1{
    color: black;
}
div{
    margin: 70px;
    border: 10px solid black;
    text-align: center;
    
    
}

h2{
    color: aliceblue;
}
.container{
    color: white;
    display: flex;
    justify-content: center;
}